*.geojson text eol=lf
meta/wof-concordances-latest.csv filter=lfs diff=lfs merge=lfs -text
meta/wof-venue-cl-concordances-latest.csv filter=lfs diff=lfs merge=lfs -text
meta/wof-venue-cl-latest.csv filter=lfs diff=lfs merge=lfs -text
